In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [4]:
raw_data=pd.read_csv("zoo.csv")

In [5]:
raw_data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [6]:
raw_data.shape

(100, 18)

In [7]:
x = raw_data.iloc[:,1:17]

In [8]:
x.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1

In [9]:
x.shape

(100, 16)

In [16]:
y = raw_data.iloc[:,17]

In [17]:
y.head()

0    1
1    1
2    4
3    1
4    1
Name: class_type, dtype: int64

In [18]:
y.shape

(100,)

In [19]:
X_train,X_test,y_train,y_test = train_test_split(x,y, test_size=0.25)

In [20]:
X_train.shape

(75, 16)

In [21]:
y_train.shape

(75,)

In [22]:
y_train.head()

63    1
43    1
85    4
35    1
74    1
Name: class_type, dtype: int64

In [24]:
X_train.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
63,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
43,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
85,0,0,1,0,0,1,1,1,1,0,1,1,0,1,0,1
35,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,0
74,1,0,0,1,0,1,1,1,1,1,0,1,2,1,0,1

In [25]:
X_test.shape

(25, 16)

In [26]:
y_test.shape

(25,)

#    #Building the classifier

In [27]:
zoo_classifier= DecisionTreeClassifier(random_state=0)

In [28]:
zoo_classifier.fit(X_train,y_train)

DecisionTreeClassifier(random_state=0)

# Testing the model

In [29]:
zoo_classifier.score(X_test,y_test)

0.96

# Making prediction

In [30]:
zoo_classifier.predict(X_test[10:15])

array([7, 2, 1, 2, 6], dtype=int64)

In [32]:
y_test[10:15]

52    7
55    2
4     1
57    2
87    6
Name: class_type, dtype: int64